# Local Machine
.DS_Store
.claude
AGENTS.md

# Python Cache
__pycache__/

# Training Data
training/data/cv
training/data/embedding
training/data/raw
training/oof
training/data/protein_features
training/data/label_space

# Inference Data
data/blast/*
!data/blast/.gitkeep
data/embedding/*
!data/embedding/.gitkeep
data/test.fasta

# Models
models*
!models/fusion_weights.csv

# Predictions
predictions/*
!predictions/.gitkeep
